//
//  Debug.xcconfig
//  PMS Timetable
//
//  Created by Adon Omeri on 27/4/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

APP_GROUP_ID = group.omeriadon-release.pmstimetable
